body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#cardPick{
  margin-right:30px;
}


.cardSet{
  display:inline-block;
}

.container{
  display:inline;
}